body{
    margin: 0px;
}

.main{
    /* background: url(); */
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.main video{
    position: fixed;
    top: -120px;
    object-fit: cover;
    z-index: -1;
}

.main #backvideo2{
    display: none;
}

.container{
    width: 250px;
    height: 400px;
    background-color: rgba(253, 253, 253, 0.4);
    z-index: 1;
    position: absolute;
    right: 300px;
    border: 2px solid rgba(24, 23, 23 , 0.7);
    border-radius: 4px;
}

.container h2{
    text-align: center;
    margin-top: 50px ;
}

.container button{
    text-align: center;
    width: 70%;
    height: 30px;
    margin-top: 20px;
}

.container input{
    text-align: center;
    width: 70%;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
}
.container p{
    text-align: justify;
    margin: 15px;
}

#play{
    margin-top: 80px;
}

#result{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    color: red;
}
#help{
    color: red;
    font-size: 14px;
}

button:hover{
    background-color: rgba(95, 253, 201, 0.603);
    border: 2px solid black;
}

@media screen and (max-width:720px){
    .main{
        background-color: rgba(34, 36, 35, 0.445);
    }

    .main #backvideo1{
        display: none;
    }
    .main #backvideo2{
        display:block;
        position: fixed;
        object-fit:cover;
        height:100%;
        z-index: 0;
        top: 0px;
    }

    .container{
        top: 80px;
        width: 80%;
        right: 35px;
        background-color: rgba(253, 253, 253, 0.7);
    }

    button:hover{
        background-color: rgba(255, 255, 0, 0.5);
    }
}
