body{
    margin: 0px;
}

.main{
    background: url();
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.main video{
    position: fixed;
    top: -120px;
    object-fit: cover;
    z-index: -1;
}

.container{
    width: 250px;
    height: 400px;
    background-color: rgba(253, 253, 253, 0.4);
    z-index: 1;
    position: absolute;
    right: 300px;
    border: 2px solid rgba(24, 23, 23 , 0.7);
    border-radius: 4px;
}

.container h2{
    text-align: center;
    margin-top: 50px ;
}

.container button{
    text-align: center;
    width: 70%;
    height: 30px;
    margin-top: 20px;
}

.container input{
    text-align: center;
    width: 70%;
    height: 30px;
    font-size: 18px;
}
.container p{
    text-align: justify;
    margin: 15px;
}

#result{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    color: red;
}
#help{
    color: red;
    font-size: 14px;
}